name: CD

# Based on:
# https://sc.vern.cc/a-nuget-package-workflow-using-github-actions-7da8c6557863
# https://dusted.codes/github-actions-for-dotnet-core-nuget-packages#drive-nuget-version-from-git-tags

on:
  push:
    branches:
      - "!*"
    tags:
      - "v*"

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    permissions:
      id-token: write # needed for trusted publish to nuget

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x

      - name: Get Version from Tag
        run: |
          arrTag=(${GITHUB_REF//\// })
          VERSION="${arrTag[2]}"
          VERSION="${VERSION:1}"
          echo "VERSION=${VERSION}" >> $GITHUB_ENV

      - run: dotnet build --configuration Release -p:Version=${VERSION}
      - run: dotnet test --configuration Release -p:Version=${VERSION} --no-build
      - run: dotnet pack --configuration Release -p:Version=${VERSION} --no-build --output .
      - run: dotnet nuget push HolzShots.WindowsAPICodePack.ShellModified.${VERSION}.nupkg --source "https://api.nuget.org/v3/index.json" --api-key ${{steps.login.outputs.NUGET_API_KEY}}
